{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    
    <h1>Signup page</h1>
    <br>

    <form action="" method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>

        <br>

        <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>

        <br>
        
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <br>
        
        <div class="mb-3">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Signup</button> <a href="{% url 'lib_app:login' %}"><button class="btn btn-secondary">Login</button></a> 
    </form>
    <br>
    
</div>

{% endblock content %}